.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 5rem;
}

.slider-wrapper{
    margin: 0 auto;
    background-color: #9b9bd1;
}

.sliders{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
}

.card{
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.card__thumb img{
    width: 40rem;
    height: 30rem;
}

.slider-nav{
    display: flex;
    column-gap: 1.5rem;
    bottom: 11rem;
    left: 50%;
    transform: translateX(75%);
    z-index: 1;
}
 .slider-nav a{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: blue;
    opacity: 0.75;
    transition: background-color 0.3s ease-in-out;
 }


  a:hover{
    border: 3px dotted #3a7999;
	color: #3a7999;
	background: rgba(0,0,0,0);
 }
  a:active{
    background: black;
 }
 
 .card {
    display: grid;
}

.card__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

p{
    font-size: 1rem;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(110, 104, 224);
}
.card__thumb,
.card__content {
    grid-area: 1/2;
}