*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    background: black;
}

.slider-wrapper{
    position: relative;
    margin: 0 auto;
}

.sliders{
    position: absolute;
    width: 900px;
    height: 400px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 20px;
    border: 2px solid #fff;
}