.container{
    max-width: 1024px;
    margin: 0 auto;
}

.slider-wrapper{
    margin: 0 auto;
    background-color: #9b9bd1;
}

.sliders{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0,25);
    border-radius: 0.5rem;
}

.sliders img{
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.slider-nav{
    display: flex;
    column-gap: 1.5rem;
    position: absolute;
    bottom: 11rem;
    left: 50%;
    transform: translateX(40%);
    z-index: 1;
}
 .slider-nav a{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: blue;
    opacity: 0.75;
    transition: background-color 0.3s ease-in-out;
 }

  a:hover{
 background-color: aqua;
 }
 a:active{
    background-color: ;
 }
 